<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
                  <a href="#section2">Portfolio</a>
                            $(document).on('click', '.class_name a', function(e) {
                          e.preventDefault();
                          var target = $(this).attr('href'), $target = $(target); {
                              $('html, body').stop().animate({
                                  'scrollTop' : $target.offset().top - 50
                              }, 900, 'swing', function() {
                                  window.location.hash = target;
                              });
                          }
                        });
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
